/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #007acc;
  }
  
  main {
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  #turn-indicator {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007acc;
    margin-bottom: 20px;
    animation: fadeInOut 1s infinite alternate;
  }
  
  #turn-indicator.computer-turn {
    color: #ff5733;
  }
  
  .scoreboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .scoreboard div {
    background-color: #e0f7fa;
    border: 2px solid #007acc;
    border-radius: 8px;
    padding: 10px 20px;
    width: 45%;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  #player-points, #computer-points {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .card {
    background-color: #cccccc;
    color: transparent;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  
  .card.hidden {
    background-color: #cccccc;
  }
  
  .card.matched {
    background-color: #00cc66;
    cursor: default;
  }
  
  /* Mensaje de ganador */
  #game-message {
    text-align: center;
    margin-top: 20px;
  }
  
  #game-message.hidden {
    display: none;
  }
  
  #game-message p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007acc;
  }
  
  #restart-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #restart-button:hover {
    background-color: #005f99;
  }
  
  /* Animación de turno */
  @keyframes fadeInOut {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  